:root {
    /*  Colors  */

    --color-bg-primary: #09090B;
    --color-bg-secondary: #111217;

    --color-surface: rgba(18, 19, 23, .65);
    --color-surface-hover: rgba(28, 30, 36, .82);

    --color-text-primary: #FAFAFA;
    --color-text-secondary: #B5B8C5;

    --color-accent: #DC2626;
    --color-accent-hover: #EF4444;

    --color-border: rgba(255,255,255,.08);

    /* Background */

    --background-start: #180d10;
    --background-end: #09090b;
    --background-glow: rgba(220,38,38,.06);
    --star-color: #ffffff;

    /*  Typography  */

    --font-heading: "Bebas Neue", sans-serif;
    --font-body: "Inter", sans-serif;

    /*  Font Size  */

    --fs-hero: clamp(4rem, 8vw, 6.5rem);
    --fs-h1: clamp(3rem, 5vw, 4.2rem);
    --fs-h2: clamp(2.25rem, 4vw, 3rem);
    --fs-h3: clamp(1.5rem, 3vw, 2rem);

    --fs-body: 1rem;
    --fs-small: .875rem;

    /*  Font Weight  */

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    /*  Spacing  */

    --space-xs: .5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xl: 3rem;
    --space-2xl: 4rem;
    --space-3xl: 6rem;

    /*  Radius  */

    --radius-sm: .5rem;
    --radius-md: .75rem;
    --radius-lg: 1rem;
    --radius-xl: 1.5rem;
    --radius-full: 999px;

    /*  Shadow  */

    --shadow-sm: 0 .25rem .75rem rgba(0, 0, 0, .18);
    --shadow-md: 0 .75rem 2rem rgba(0, 0, 0, .28);
    --shadow-lg: 0 1.5rem 4rem rgba(0, 0, 0, .4);
    --shadow-glow: 0 0 1.5rem rgba(209, 26, 42, .28);

    /*  Border  */

    --border-primary: 1px solid var(--color-border);

    /*  Transition  */

    --transition-fast: .2s ease;
    --transition-normal: .35s ease;
    --transition-slow: .5s ease;

    /*  Layout  */

    --container-width: 70rem;
    --header-height: 5.5rem;

    /*  Layer  */

    --z-background: -1;
    --z-default: 1;
    --z-navbar: 100;
    --z-dropdown: 500;
    --z-modal: 1000;

    /* Hero */

    --hero-content-width: 40rem;
    --hero-image-width: 30rem;

    /* Buttons */

    --btn-padding-y: .95rem;
    --btn-padding-x: 1.8rem;
}

[data-theme="light"] {

    /*  Colors  */

    --color-bg-primary: #f4f5f7;
    --color-bg-secondary: #ffffff;

    --color-surface: rgba(255,255,255,.78);
    --color-surface-hover: rgba(255,255,255,.95);

    --color-text-primary: #18181b;
    --color-text-secondary: #676b73;

    --color-accent: #d11a2a;
    --color-accent-hover: #b3121f;

    --color-border: rgba(0,0,0,.08);

    /*  Shadow  */

    --shadow-sm: 0 .25rem .75rem rgba(15,23,42,.06);
    --shadow-md: 0 .75rem 2rem rgba(15,23,42,.10);
    --shadow-lg: 0 1.5rem 4rem rgba(15,23,42,.15);
    --shadow-glow: 0 0 1rem rgba(209,26,42,.12);

    /* Background */

    --background-start: #ffffff;
    --background-end: #f6f7fa;
    --background-glow: rgba(220,38,38,.025);
    --star-color: rgba(150,35,35,.22);
}

